# .gitignore for Grails 1.2 and 1.3

# web application files
/web-app/WEB-INF
/webserver/.sonar/
/webserver/grails-app/conf/mocks/
/out/

# IDE support files
.classpath
.launch
.project
.settings
*.launch
*.tmproj
*.iml
.idea/
out/
ivy*
eclipse
sonar-project.properties
validation.txt
sonar-project.properties.save

# default HSQL database files for production mode
prodDb.*

# general HSQL database files
*Db.properties
*Db.script

# logs
stacktrace.log
test/reports
logs

# project release file
*.war

# plugin release file
/*.zip

# older plugin install locations
/plugins
web-app/plugins
web-app/WEB-INF/classes

# "temporary" build files
target/

# other
*.iws
*.class
.DS_Store
newrelic.log
cobertura.ser
