<!-- Half Page Image Background Carousel Header -->
<!-- Page Content -->
</br>
</br>
<div class="container">
<div class="row">
   <form class="form-horizontal" style="
width: 40%;
overflow: hidden;
padding-top: 20px;
padding-bottom: 20px;
padding-left: 10px;
padding-right: 10px;
border-radius: 15px;
background: #eee;
-moz-border-radius: 4px;
-webkit-border-radius: 4px;
margin: auto;
position: absolute;
left: 0;
right: 0;
top: 400px;
-moz-transform: translateY(-50%);
-ms-transform: translateY(-50%);
-webkit-transform: translateY(-50%);
transform: translateY(-50%);
float: left;">
		
		<!-- Nombre del evento -->
      <div class="form-group">
         <label class="control-label col-sm-4" for="">Título</label>
         <div class="col-sm-6">
            <input type="text" class="form-control"  ng-model="newEvent.eventTitle" placeholder="Ej: Super parrillada!">
         </div>
      </div>

		<!-- Direccion del evento -->
      <div class="form-group">
         <label class="control-label col-sm-4" for="">Ubicación</label>
         <div class="col-sm-6">
            <input type="text" class="form-control"  ng-model="newEvent.eventLocation" placeholder="Ej: 18 de Julio 1456">
         </div>
      </div>

		<!-- Tipo de comida que se sirva del evento -->
      <div class="form-group">
         <label class="control-label col-sm-4" for="">Categoría</label>
         <div class="col-sm-6">
            <select class="form-control col-sm-2" ng-model="newEvent.category" ng-options="cat for cat in categories" placeholder="Seleccionar">
            </select>
         </div>
      </div>

		<!-- Descripcion del evento -->
      <div class="form-group">
         <label class="control-label col-sm-4" for="">Comida</label>
         <div class="col-sm-6">
            <input type="text" class="form-control" ng-model="newEvent.description" placeholder="Ej: Asado de tira"/>      
         </div>
      </div>

		<!-- Cantidad de lugares para del evento -->
      <div class="form-group" ng-repeat="cant in cantidades">
         <label class="control-label col col-sm-4" for="">Capacidad {{cant}}</label>
         <div class="col-sm-6">
            <div class="input-group number-spinner">

               <span class="input-group-btn data-dwn">
                  <button class="btn btn-warning" ng-click="removeAssistant(cant)" ng-model="newEvent.minAttendants" ng-disabled="checkCantLower(1,cant)"  class="btn btn-default btn-info" data-dir="dwn">
                     <span class="glyphicon glyphicon-minus"></span>
                  </button>
               </span>
               
               <input  ng-change="checkNumber(cant)" type="number" class="form-control text-center" ng-model="lugaresCantidades[cant]" value="1" >

               <span class="input-group-btn data-up">
                  <button class="btn btn-warning" ng-click="addAssistant(cant)" ng-model="newEvent.maxAttendants" ng-disabled="checkCantUpper(300,cant)" class="btn btn-default btn-info" data-dir="up">
                     <span class="glyphicon glyphicon-plus"></span>
                  </button>
               </span>
            </div>
         </div>
      </div>

		<!-- Dias y horario del evento -->
      <div class="form-group">
         <label class="control-label col-sm-4" for="">Desde</label>
         <div class="small-5 columns">
            <input type="date" ng-model="newEvent.startDate"/>
            <input type="time" ng-model="newEvent.startHour"/>
         </div>
      </div>
	  
      <div class="form-group">
         <label class="control-label col-sm-4" for="">Hasta</label>
         <div class="small-5 columns">
            <input type="date" ng-model="newEvent.endDate" />
            <input type="time" ng-model="newEvent.endHour" />
         </div>
      </div>

		<!-- Tipo de ambiente del evento -->
      <div class="form-group">
         <label class="control-label col-sm-4" for="">¿Lugar cerrado?</label>
         <div class="col-sm-6">
            <div class="radio">
               <label><input type="radio" name="optradio">Si</label>
               <label><input type="radio" name="optradio">No</label>
            </div>
         </div>
      </div>

		<!-- Costo por asistir al evento -->
      <div class="form-group">
         <label class="control-label col-sm-4">Precio del ticket</label>
         <div class="col-sm-3">
            <input type="text" class="form-control" ng-model="newEvent.eventPrice" placeholder="$ 100"/>      
         </div>
      </div>

		<!-- Confirmar el evento -->
      <div class="form-group">
         <div class="col-sm-offset-4 col-sm-3">
            <button type="submit" class="btn btn-primary" ng-click="addEvent()">Crear Evento</button>
         </div>
      </div>
   </form>
</div>