</br>
</br>
<div class="container" style="background-color: #eee; width: 100%">
  <div class="row">
    <!--form class="form-horizontal">
      <div class="form-group">
         <label class="control-label col-sm-2">Filtro por Nombre</label>
         <div class="col-sm-5">
            <input class="form-control" type="text" ng-model="eventFilter.eventTitle"/>
         </div>   
      </div>
      
      <div class="form-group">
         <label class="control-label col-sm-2">Filtro por Estado</label>
         <div class="col-sm-2">
            <select class="form-control col-sm-2 col-md-4" ng-model="eventFilter.status">
               <option>abierto</option>
               <option>cerrado</option>
            </select>
         </div>
      </div>
      
      <div class="form-group">
        <label class="control-label col-sm-2">Fecha desde</label>
        <div class="col-sm-5">
          <input ng-model="dateFrom" type="date" ng-init="2000/01/01"/>
        </div>
      </div>

      <div class="form-group">
        <label class="control-label col-sm-2">Fecha hasta</label>
        <div class="col-sm-5">
          <input ng-model="dateTo" type="date" ng-init="2300/01/01"/>
        </div>
      </div>
    </form>
  </div-->

   <!-- ***** lista de eventos ****** -->
   <div class="col-sm-6" style="width:70%;margin-left:20%;margin-top:10px" ng-repeat="evento in events">
    <section id="eventsSection" class="eventContainer">      
      <span>
        <div class="eventTitle">
          <h3 class="eventTitleStyle">
            {{evento.eventTitle}}
          </h3>
        </div>
      </span>
      <span class="eventInfo">
        <span id="price" class="eventData" style="width:10%">
            <i class="fa fa-usd" aria-hidden="true" style="float: left; margin-right: 7px"></i>
            <p style="font-size: 10px; margin-left: 3px; white-space: pre-wrap; font-family: Arial; "> {{evento.eventPrice}} </p> 
        </span>
        <!--span id="cooker" class="eventData" style="width:30%">
          <p style="font-size: 10px; font-weight: bold; float: left; margin-left: 3px;">Cocinero: </p>
          <p style="font-size: 10px; margin-left: 3px; white-space: pre-wrap; font-family: Arial;"> {{evento.cooker}} </p>
        </span-->
        <!--<span id="rating" class="eventData" style="width:35%">
          <label for="input-2" class="control-label">Rate This</label>
          <input id="input-2" name="input-2" class="rating rating-loading" data-min="0" data-max="5" data-step="0.1">
          </span>
          <p style="font-size: 10px; font-weight: bold; float: left; margin-left: 3px;">Valoración: </p>
          <p style="font-size: 10px; margin-left: 3px; white-space: pre-wrap; "> las estrellitas </p>
        </span>-->
      </span>
      <span class="eventInfo">
        <span id="location" class="eventData" style="width:35%">
          <i class="fa fa-map-marker" aria-hidden="true" style="float: left;"></i>
          <p style="font-size: 10px; font-weight: bold; float: left; margin-left: 3px;">Lugar: </p>
          <p ng-model="numLimit" style="font-size: 10px; margin-left: 3px; white-space: pre-wrap; font-family: Arial;"> {{evento.eventLocation.street}} </p>
        </span>
        <span id="category" class="eventData" style="width:28%">
          <i class="fa fa-tag" aria-hidden="true" style="float: left;"></i>
          <p style="font-size: 10px; font-weight: bold; float: left; margin-left: 3px;">Categoría: </p>
          <p style="font-size: 10px; margin-left: 3px; white-space: pre-wrap; font-family: Arial;"> {{evento.category}} </p> 
        </span>
        <!--span id="attendants" class="eventData" style="width:18%">
          <i class="fa fa-users" aria-hidden="true" style="float: left;"></i>
          <p style="font-size: 10px; font-weight: bold; float: left; margin-left: 3px;">Asistentes: </p>
          <p style="font-size: 10px; margin-left: 3px; white-space: pre-wrap; font-family: Arial;"> {{evento.attendants.length}} </p> 
        </span-->
      </span>
      <span class="footerEvent">
      <span id="date" class="eventData" style="width:25%">
          <i class="fa fa-calendar-o" aria-hidden="true" style="float: left;"></i>
          <p style="font-size: 10px; font-weight: bold; float: left; margin-left: 3px;">Inicio: </p>
          <p style="font-size: 10px; margin-left: 3px; white-space: pre-wrap; font-family: Arial;"> {{evento.startDate | date : 'MMM d, y hh:mm'}} </p> 
        </span>
        <span id="date" class="eventData" style="width:25%">
          <p style="font-size: 10px; font-weight: bold; float: left; margin-left: 3px;">Fin: </p>
          <p style="font-size: 10px; margin-left: 3px; white-space: pre-wrap; font-family: Arial;"> {{evento.endDate | date : 'MMM d, y hh:mm'}} </p> 
        </span>
        <span id="status" class="eventData" style="width:18%">
          <i class="fa fa-toggle-on" aria-hidden="true" style="float: left;"></i>
          <p style="font-size: 10px; font-weight: bold; float: left; margin-left: 3px;">Estado: </p>
          <p style="font-size: 10px; margin-left: 3px; white-space: pre-wrap; font-family: Arial;"> {{evento.status}} </p> 
        </span>
        <span id="status" class="eventData" style="width:18%">
          <a ng-href="/payevent/{{evento.eventName}}/{{evento.attendants.length}}/{{evento.eventPrice}}">Pagar</a>
        </span>
      </span>
    </section>
    <!--Barra de progreso de que tan lleno esta un evento-->
  </div>
</div>