<div class="container">
   <div class="row">
   <!-- EventList -->
   <div class="row">
      <div class="[ col-xs-12 col-md-10 ]">
        Filtro por Estado
        <select ng-model="eventFilter.status">
            <option>open</option>
            <option>closed</option>
        </select>
      </br>
      </div>

        <div class="[ col-xs-12 col-md-10 ]">
            Filtro por Nombre
            <input class="input-group" type="text" ng-model="eventFilter.eventTitle">
        </br>
        </div>
        
        <div class="[ col-xs-12 col-md-10 ]">
            <input ng-model="dateFrom" type="date"/>
        </br>
        </div>
        
        <div class="[ col-xs-12 col-md-10 ]">
            <input ng-model="dateTo" type="date"/>
        </div>
        </br>
        </br>
        <div class="contenedor_eventlist">
        <ul  class="event-list" ng-repeat="evento in events | filter:eventFilter| myfilter:dateFrom:dateTo">
              <li class="col-xs-10" id="algo">
                 <time datetime="2016-10-04">
                   <span class="day"> {{ evento.startDate | date:'dd' }} </span>
                   <span class="month"> {{ evento.startDate | date:'MMM' }} </span>
                 </time>
                 <time datetime="2016-10-04">
                   <span class="day"> {{ evento.endDate | date:'dd' }} </span>
                   <span class="month"> {{ evento.endDate | date:'MMM' }} </span>
                 </time>
                 <div class="info">
                    <h2 class="title">{{evento.eventTitle}}</h2>
                    <p class="desc">{{evento.description}}</p>
                    <ul>
                       <li style="width:33%;">{{evento.status}} </li>
                       <li style="width:34%;">{{evento.category}} </li>
                    </ul>
                 </div>
              </li>
        </ul>
        </div>
      </div>
   </div>
</div>
<hr>
