</br>
</br>
<div class="container">
   <div class="row">
   <form class="form-horizontal">
      <!-- EventList -->
      <!-- Filtrar por nombre -->
      <div class="form-group">
         <label class="control-label col-sm-2">Filtro por Nombre</label>
         <div class="col-sm-5">
            <input class="form-control" type="text" ng-model="eventFilter.eventTitle">
         </div>   
      </div>
      </br>
      <!-- Filtrar por abierto/cerrado -->
      <div class="form-group">
         <label class="control-label col-sm-2">Filtro por Estado</label>
         <div class="col-sm-2">
            <select class="form-control col-sm-2 col-md-4" ng-model="eventFilter.status">
               <option>open</option>
               <option>closed</option>
            </select>
         </div>
      </div>
      </br>
      <!-- Filtrar por tipo de comida -->
      <div class="form-group">
         <label class="control-label col-sm-2">Filtro por Categoría</label>
         <div class="col-sm-2">
				<select class="form-control col-sm-3" ng-model="eventFilter.categories" ng-options="cat for cat in categories">
				</select>
         </div>
      </div>
      </br>
      <!-- Filtrar por fechas -->
      <div class="form-group">
        <label class="control-label col-sm-2">Fecha desde</label>
        <div class="col-sm-5">
          <input ng-model="dateFrom" type="date" ng-init="2000/01/01"/>
        </div>
      </div>
      </br>
      <div class="form-group">
        <label class="control-label col-sm-2">Fecha hasta</label>
        <div class="col-sm-5">
          <input ng-model="dateTo" type="date" ng-init="2300/01/01"/>
        </div>
      </div>
      </br>
      </br>
      <div class="contenedor_eventlist">
         <ul  class="event-list" ng-repeat="evento in events | filter:eventFilter| myfilter:dateFrom:dateTo">
            <li class="col-xs-10" id="algo">
               <time datetime="2016-10-04">
               <span class="day"> {{ evento.startDate | date:'dd' }} </span>
               <span class="month"> {{ evento.startDate | date:'MMM' }} </span>
               </time>
               <time datetime="2016-10-04">
               <span class="day"> {{ evento.endDate | date:'dd' }} </span>
               <span class="month"> {{ evento.endDate | date:'MMM' }} </span>
               </time>
               <div class="info">
                  <h2 class="title">{{evento.eventTitle}}</h2>
                  <p class="desc">{{evento.description}}</p>
                  <ul>
                     <li style="width:33%;">{{evento.status}} </li>
                     <li style="width:34%;">{{evento.attendants.length}} </li>
                  </ul>
               </div>
            </li>
         </ul>
      </div>
       </form>
   </div>
</div>
<hr>