<!DOCTYPE html>
<html >
  <head>
    <meta charset="UTF-8">
    <title>Login Come To Eat</title>
    <link rel="stylesheet" href="/login.css">
  </head>

  <body ng-controller="LoginCtrl">

    <div class="login-form">
        <uib-tabset active="activeJustified" justified="true">
        <uib-tab index="0" ng-click="selectType('login')" heading="Loging">Loging</uib-tab>
        <uib-tab index="1" ng-click="selectType('register')" heading="Sign UP">Sign UP</uib-tab>
    </uib-tabset>

    <hr />

      <img src="img/logo.png" alt="logo">
      <div class="form-group ">
       <input type="text" ng-model="username" class="form-control" placeholder="correo@dominio.com " id="UserName">
       <i class="fa fa-user"></i>
      </div>
      <div class="form-group" ng-if="isRegister == true">
          <select class="form-control input-sm">
                <option>Cocinero</option>
                <option>Comensal</option>
          </select>
      </div>
      <div class="form-group log-status">
       <input type="password" ng-model="password" class="form-control" placeholder="Contraseña" id="Passwod">
       <i class="fa fa-lock"></i>
      </div>

      <span class="alert">Usuario y/o contraseña incorrectas</span>
      <a class="link" href="#">¿Olvidó su contraseña?</a>
      <button type="button" class="log-btn" ng-click="login()">Log in</button>
    </div>

  </body>
</html>
