<!DOCTYPE html>
<html >
  <head>
    <meta charset="UTF-8">
    <title>Login Come To Eat</title>
    <link rel="stylesheet" href="/css/login.css">
  </head>


  <body ng-controller="LoginCtrl">

    <div id="logincont" class="login-form">
        <uib-tabset active="activeJustified" justified="true">
          <uib-tab index="0" ng-click="selectType('login')" heading="Log In"></uib-tab>
          <uib-tab index="1" ng-click="selectType('register')" heading="Sign Up!"></uib-tab>
        </uib-tabset>

      <hr />

        <div ng-if="isRegister == true">
          <div class="form-group ">
            <input type="text"  ng-model="newUser.name" class="form-control" placeholder="Nombre " id="Name" required>
            <i class="fa fa-user"></i>
          </div>

          <div class="form-group ">
            <input type="text" ng-model="newUser.lastName" class="form-control" placeholder="Apellido " id="LastName" required>
            <i class="fa fa-user"></i>
          </div>

          <div class="form-group ">
            <input type="date" ng-model="newUser.birthDate" class="form-control" placeholder="dd/mm/yyyy " id="BirthDate" required>
            <i class="fa fa-calendar"></i>
          </div>

          <div class="form-group" ng-if="isRegister == true">
              <select ng-model="newUser.type" class="form-control">
                    <option>Cocinero</option>
                    <option>Comensal</option>
              </select>
          </div>
        </div>

        <div>
          <div class="form-group ">
            <input type="text" ng-model="username" class="form-control" placeholder="correo@dominio.com " id="UserName" required>
            <i class="fa fa-envelope"></i>
          </div>

          <div class="form-group log-status">
            <input type="password" ng-model="password1" class="form-control" placeholder="Contraseña" id="Passwod" required>
            <i class="fa fa-lock"></i>
          </div>
        </div>

        <div  ng-if="isRegister == true">
          <div class="form-group log-status">
            <input type="password" ng-model="password2"class="form-control" placeholder="Repita Contraseña" id="PasswodRepit" required>
            <i class="fa fa-lock"></i>
          </div>
        </div>

        <span class="alert">Usuario y/o contraseña incorrectas</span>
        <a class="link" href="#" ng-if="isRegister == false">¿Olvidó su contraseña?</a>

        <input type="submit" class="log-btn" ng-click="login()" ng-if="isRegister == false" value="Log in"></input>
        <input type="submit" class="log-btn" ng-click="signup()" ng-if="isRegister == true" value="Sign Up!"></input>
    </div>

  </body>
</html>
