<!DOCTYPE html>
<html ng-app="ngMap">
<head>
<title>Simle Map</title>
<meta name="description" content="Simple Map">
<meta name="keywords" content="ng-map,AngularJS,center">
<meta name="viewport" content="initial-scale=1.0, user-scalable=no" />
<script src="script-tags-for-development.js"></script>
</head>

<body>
  <ng-map ng-if="events.length >0" zoom="15" center="current-position">
     <marker ng-repeat="event in events"  id="{{event.eventTitle}}" position="{{event.eventLocation.lat}},{{event.eventLocation.long}}" title="{{event.eventTitle}}" data="'hola'" uib-popover-template="'eventoInfo.html'"
       popover-placement="right" on-click="pinClicked(event)" popover-trigger="'click'"  popover-animation="false"></marker>
</ng-map>

    <!--Inicializar los eventos, cargarlos desde firebase-->	
            <h3>{{selectedEvent.eventTitle}}</h3>
            <p>{{selectedEvent.category}}</p>
            <p>{{selectedEvent.description}}</p>
      

    <br>
<script type="text/ng-template" id="eventInfo.html">
            <ul class="list-unstyled">
              {{event}}
          </ul>
    </script>
	
	<div class="jumbotron text-center" id="map" style="min-height:100%"> 
  <!--input ng-model="eventFilter.attendants" type="text">
  <button ng-click="eventFilter.attendants = undefined">Limpiar filtro</button>
  
  <!--
  <div class="lateralFilter">
    <ul ng-repeat="cat in categories" style="margin-left: 0px">
      <li ng-repeat="cat in categories" ng-model="eventFilter.category">
        {{cat}}
      </li>
    </ul>
  </div>
  -->
    <input ng-model="eventFilter.eventTitle" type="text">
  <button ng-click="eventFilter.eventTitle = undefined">Limpiar filtro</button>
  
  </br>
  <div class="col-sm-6" style="width:70%;margin-left:20%;" ng-repeat="evento in events | filter:eventFilter">
    <section id="eventsSection" class="eventContainer">      
      <span>
        <div class="eventTitle">
          <h3 class="eventTitleStyle">
            {{evento.eventTitle}}
          </h3>
        </div>
      </span>
      <span class="eventInfo">
        <span id="price" class="eventData" style="width:10%">
            <i class="fa fa-usd" aria-hidden="true" style="float: left; margin-right: 7px"></i>
            <p style="font-size: 10px; margin-left: 3px; white-space: pre-wrap; font-family: Arial; "> {{evento.eventPrice}} </p> 
        </span>
        <span id="cooker" class="eventData" style="width:30%">
          <!--<i class="fa fa-map-marker" aria-hidden="true" style="float: left;"></i>-->
          <p style="font-size: 10px; font-weight: bold; float: left; margin-left: 3px;">Cocinero: </p>
          <p style="font-size: 10px; margin-left: 3px; white-space: pre-wrap; font-family: Arial;"> {{evento.cooker}} </p>
        </span>
        <!--<span id="rating" class="eventData" style="width:35%">
          <label for="input-2" class="control-label">Rate This</label>
          <input id="input-2" name="input-2" class="rating rating-loading" data-min="0" data-max="5" data-step="0.1">
          </span>
          <p style="font-size: 10px; font-weight: bold; float: left; margin-left: 3px;">Valoración: </p>
          <p style="font-size: 10px; margin-left: 3px; white-space: pre-wrap; "> las estrellitas </p>
        </span>-->
      </span>
      <span class="eventInfo">
        <span id="location" class="eventData" style="width:35%">
          <i class="fa fa-map-marker" aria-hidden="true" style="float: left;"></i>
          <p style="font-size: 10px; font-weight: bold; float: left; margin-left: 3px;">Lugar: </p>
          <p ng-model="numLimit" style="font-size: 10px; margin-left: 3px; white-space: pre-wrap; font-family: Arial;"> {{evento.eventLocation.street}} </p>
        </span>
        <span id="category" class="eventData" style="width:28%">
          <i class="fa fa-tag" aria-hidden="true" style="float: left;"></i>
          <p style="font-size: 10px; font-weight: bold; float: left; margin-left: 3px;">Categoría: </p>
          <p style="font-size: 10px; margin-left: 3px; white-space: pre-wrap; font-family: Arial;"> {{evento.category}} </p> 
        </span>
        <span id="attendants" class="eventData" style="width:18%">
          <i class="fa fa-users" aria-hidden="true" style="float: left;"></i>
          <p style="font-size: 10px; font-weight: bold; float: left; margin-left: 3px;">Asistentes: </p>
          <p style="font-size: 10px; margin-left: 3px; white-space: pre-wrap; font-family: Arial;"> {{evento.attendants.length}} </p> 
        </span>
      </span>
      <span class="footerEvent">
      <span id="date" class="eventData" style="width:25%">
          <i class="fa fa-calendar-o" aria-hidden="true" style="float: left;"></i>
          <p style="font-size: 10px; font-weight: bold; float: left; margin-left: 3px;">Inicio: </p>
          <p style="font-size: 10px; margin-left: 3px; white-space: pre-wrap; font-family: Arial;"> {{evento.startDate | date : 'MMM d, y hh:mm'}} </p> 
        </span>
        <span id="date" class="eventData" style="width:25%">
          <p style="font-size: 10px; font-weight: bold; float: left; margin-left: 3px;">Fin: </p>
          <p style="font-size: 10px; margin-left: 3px; white-space: pre-wrap; font-family: Arial;"> {{evento.endDate | date : 'MMM d, y hh:mm'}} </p> 
        </span>
        <span id="status" class="eventData" style="width:18%">
          <i class="fa fa-toggle-on" aria-hidden="true" style="float: left;"></i>
          <p style="font-size: 10px; font-weight: bold; float: left; margin-left: 3px;">Estado: </p>
          <p style="font-size: 10px; margin-left: 3px; white-space: pre-wrap; font-family: Arial;"> {{evento.status}} </p> 
        </span>

         <button id="buttonRegister" class="btn btn-sm btn-default" ng-click="asistirEvento(evento)" ng-disabled="checkReserveButton(evento)"
          style="margin-bottom: 10px; margin-right: 10px;">
          Inscribir
         </button>
      </span>
    </section>
    <!--Barra de progreso de que tan lleno esta un evento-->
  </div>
</div>




</body>
</html>