<!DOCTYPE html>
<html ng-app="ngMap">
<head>
<title>Simle Map</title>
<meta name="description" content="Simple Map">
<meta name="keywords" content="ng-map,AngularJS,center">
<meta name="viewport" content="initial-scale=1.0, user-scalable=no" />
<script src="script-tags-for-development.js"></script>
</head>

<body>
  <ng-map zoom="15" center="current-position">
    <shape id="circle" name="circle" centered="true"
      stroke-color='#FF0000' stroke-opacity="0.8"stroke-weight="2"
      center="current-position" radius="4000" editable="true" ></shape>
  </ng-map>
	
    <!--Inicializar los eventos, cargarlos desde firebase-->
	<div ng-app="ngMap" ng-init="Events=[	{eventTitle:'Orgasmo culinario',startDate:'17',endDate:'24',category:'Carne',description:'Delicate de cordero a la plancha con salsa barbakiue',createdAt:'12'},{eventTitle:'Fiesta de salchichas',startDate:'17',endDate:'24',category:'Chorizo',description:'Una tarde de panchos con los amigos',createdAt:'12'}, {eventTitle:'Juntada en lo del Riki',startDate:'17',endDate:'24',category:'Pescado',description:'Sushi de salmon acompaniado de jhonny negro',createdAt:'12'}	]">
	
	</div>
	
            <h3>{{SELECTED_EVENT.eventTitle}}</h3>
            <p>{{SELECTED_EVENT.category}}</p>
            <p>{{SELECTED_EVENT.description}}</p>
      
    <div class="container">
      <div class="row">
        <div class="col-sm-6" ng-repeat="event in Events">
            <!--No deberia repetirse para todos los eventos sino para el evento que esta seleccionado-->
            <h3>{{SELECTED_EVENT.eventTitle}}</h3>
            <p>{{SELECTED_EVENT.category}}</p>
            <p>{{SELECTED_EVENT.description}}</p>
            <!--Falta la direccion del evento-->
            <p>Comensales<p>
            <button ng-click="asistirEvento()">Reservar</button>
            <!--Barra de progreso de que tan lleno esta un evento-->

    <div id="myProgress">
    <div id="myBar">
    <div id="label">
    </div>
    </div>
    </div>

    <br>


    </div>
        <div class="col-sm-6">
                <h3>Mis proximos eventos</h3>
				
				<div class="list-group">
					<div class="col-sm-6" ng-repeat="event in Events">
						<button ng-click="seleccionarEvento()" class="list-group-item">{{event.eventTitle}}</button>
					</div>
				</div>
				
                <div class="list-group">
					<button ng-click="seleccionarEvento()" class="list-group-item">Evento</button>
					<a href="#" class="list-group-item list-group-item-success">Evento Lunes 4</a>
				</div>
		</div>
		

</body>
</html>